doctype html
html(lang="en")
  head
    title Page!
  body
    if requestedGames && requestedGames.length > 0
      each game in requestedGames
        div.game
          h1.title= game.name
          p.players= "For " + game.players.possible[0] + " to " + game.players.possible[1] + " players (ideally " + game.players.ideal[0] + " to " + game.players.ideal[1] + ")."
          p.meta= "A game takes a " + game.time + " amount of time. The rules involve a " + game.complexity.rules + " amount of complexity, and the strategy of the game involves a " + game.complexity.meta + " amount of complexity."
          
          div.overviews
            div.basic
              each paragraph in game.overview.basic.split("\n")
                p= paragraph
                          
          if game.expansions && game.expansions.length > 0
            div.expansions
              each expansion in game.expansions
                div.expansion
                  h2.title= game.name + " — " + expansion.name
                  p.players= "For " + expansion.players.possible[0] + " to " + expansion.players.possible[1] + " players (ideally " + expansion.players.ideal[0] + " to " + expansion.players.ideal[1] + ")."
                  p.meta= "A game takes a " + expansion.time + " amount of time. The rules involve a " + expansion.complexity.rules + " amount of complexity, and the strategy of the game involves a " + expansion.complexity.meta + " amount of complexity."

                  div.overviews
                    div.basic
                      each paragraph in expansion.overview.basic.split("\n")
                        p= paragraph
    else
      p You need to 
        a(href="/") request a game
        |  first.
