<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Curation</title>
</head>
<body>
  {{#each games}}
  <div>
    <h2>{{title}}</h2>
    <p>{{abstract}}</p>
    <p>Time: {{time}}/5</p>
    <p>Players: {{players.possible.min}}&ndash;{{players.possible.max}}
      ({{players.ideal.min}}&ndash;{{players.ideal.max}} preferred)</p>
    <p>Rule complexity: {{difficulty.rules}}/5</p>
    <p>Strategy: {{difficulty.strategy}}/5</p>
    {{{description_html}}}
  </div>
  {{/each}}
</body>
</html>
